<div class="book">
  <div class="header">
    <h1>Create book entry</h1>
  </div>
  <hr />
  <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
    <div class="inputs">
      <div class="input">
        <label for="exampleInputEmail1">Name of the author</label>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input
            matInput
            #message
            placeholder="Name of the author"
            name="Name"
            formControlName="Name"
          />
        </mat-form-field>
      </div>
      <div class="input">
        <label for="exampleInputEmail1">Surename of the author</label>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Surename</mat-label>
          <input
            matInput
            #message
            placeholder="Surename of the author"
            name="Surname"
            formControlName="Surname"
          />
        </mat-form-field>
      </div>
      <div class="input">
        <label for="exampleInputEmail1">Origin of the author</label>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Origin</mat-label>
          <input
            matInput
            #message
            placeholder="Origin of the author"
            name="Origin"
            formControlName="Origin"
          />
        </mat-form-field>
      </div>
    </div>
    <div mat-table *ngIf="this.bookForm.value">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Suername</th>
            <th scope="col">Origin</th>
            <th scope="col">Number of books</th>
            <th scope="col">Books</th>
          </tr>
        </thead>
        <tbody>
          <td>
            <div class="tablepart">
              {{ this.bookForm.value.Name }}
            </div>
          </td>
          <td>
            <div class="tablepart">
              {{ this.bookForm.value.Surname }}
            </div>
          </td>
          <td>
            <div class="tablepart">
              {{ this.bookForm.value.Origin }}
            </div>
          </td>
          <td>
            <div class="tablepart">
              {{ this.books.length }}
            </div>
          </td>
          <div *ngFor="let bookname of books">
            <td>
              <div class="tablepart">{{ this.bookname }}</div>
            </td>
          </div>
          <div class='tablepart' style="display: flex">
            <input
              class="form-control"
              style="width: 100px"
              name="bookname"
              formControlName="bookname"
            />
            <button
              class="btn btn-primary"
              style="background-color: green; color: white; margin-left: 5px"
              type="submit"
            >
              Add
            </button>
          </div>
        </tbody>
      </table>
    </div>
    <br />
    <div class="form-check">
      <input
        type="checkbox"
        class="form-check-input"
        id="exampleCheck1"
        name="check"
        formControlName="check"
      />
      <label class="form-check-label" for="exampleCheck1"
        >Check if you want to submit this information</label
      >
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
