.book{
  width: 70%;
  margin: auto;
  padding: 2%;
  margin-top: 5%;
  box-shadow: 5px 10px 18px #888888;
  border-radius: 10px;
}
.header{
  width: 30;
  margin: auto;
  font-weight: bold;
}
.table{
  width: 70%;
  margin: auto;
  margin-top: 50px;
}
.inputs{
  display: flex;
}
.input{
  margin: 20px;
}
.tablepart{
  margin: auto;
}

