.login{
  width: 40%;
  margin: auto;
  padding: 2%;
  margin-top: 5%;
  box-shadow: 5px 10px 18px #888888;
  border-radius: 10px;
}
.header{
  width: 17%;
  margin: auto;
  font-weight: bold;
}

.logedin-success{
  color: green;
  margin: auto;
}
.logedin-danger{
  color: crimson;
  margin: auto;
}
.thisForm{
  margin: auto;
}
