<div class="login">
  <div class="header">
    <h1>Log In</h1>
  </div>
  <hr />
  <form
    #emailForm="ngForm"
    (ngSubmit)="onSubmit(emailForm.value, email.value, password.value)"
  >
    <div class="thisForm">
      <div>
        <p>Enter email</p>
        <mat-form-field appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input
            matInput
            placeholder="pat@example.com"
            name="email"
            ngModel
            #email
          />
        </mat-form-field>
        <br />
        <span style="color: red;" *ngIf="valid"
          >Please input a valide email</span
        >
      </div>
      <div>
        <p>Enter password</p>
        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            name="password"
            ngModel
            #password
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    <br />
    <button mat-stroked-button type="submit" class="btn btn-primary">
      Submit
    </button>
  </form>
  <br />
  <div *ngIf="logedin === false" class="logedin-danger">
    You are NOT loged in!
  </div>
</div>
