<body>
  <div class="main">
    <h1>Hello and wellcome to a library app</h1>
    <hr>
    <img mat-card-image src="./assets/images/47babb5dda082f490ebe21390a9cad2c.png">
    <p>books are cool, stay in school</p>
  </div>
</body>
