<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Library app</span>
  <span class="example-spacer"></span>
    <button class="buttons" mat-stroked-button (click)='login()'>LogIn</button>
    <button class="buttons" mat-stroked-button (click)='create()'>Create author</button>
    <button class="buttons" mat-stroked-button (click)='home()'>Home</button>
</mat-toolbar>
